
%message{
  //background-color: green;
 padding: 20px;
 margin: 10px;
 border: solid 3px;
 text-align: center;
 color: aliceblue
}
.msucess{
    @extend %message;
    background-color: rgb(125, 120, 184);
    border-color: rgb(175, 163, 146);
}
.warning{
    @extend %message;
    background-color: rgb(80, 185, 136);
    border-color: green;
}
.merror{
    @extend %message;
    background-color: orange;
    border-color: coral;
}
